.foot-icon {
    width: 50px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}
.foot-icon.selected {
    opacity: 1;
}

.soccer-field {
    width: 100%;
    height: 300px;
    background-color: #0a7d00;
    position: relative;
    border-radius: 15px;
}

.position {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#GK { top: 10px; left: 50%; transform: translateX(-50%);}
#DEF { top: 100px; left: 50%; transform: translateX(-50%);}
#MID { top: 180px; left: 50%; transform: translateX(-50%);}
#ATT { top: 260px; left: 50%; transform: translateX(-50%);}
.position.selected {
    background-color: yellow;
}
